* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background:snow;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
header {
  margin: auto;
  height: 100px;
  width: 1200px;
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-between;
}
nav {
  margin: auto;
  width: 1200px;
  height: 50px;
  display: flex;
  background: whitesmoke;
  align-items: center;
  justify-content: space-around;
}
footer {
  margin: auto;
  width: 1200px;
  height: 100px;
  display: flex;
  background: rgb(192, 213, 214);
  background: linear-gradient(0deg, rgb(246, 248, 248) 0%, rgba(198, 229, 229, 0.98) 0%, rgba(248,248,249,1) 78%);
  align-items: center;
  justify-content: space-between;
}
video {
  height: 700px;
  width: 1200px;
}
.logo {
  height: 100px;
  width: 475px;
}
.domik{
  height: 40px;
  width: 40px;
}
.logomap {
  height: 40px;
  width: 40px;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.mainProducts  {
  width: 100%;
  height: 500px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.mainProducts a {
  margin-left: 25px;
  margin-top: 25px;
}
.ourClient {
 margin-top: 50px;
}
main {
  margin: auto;
  width: 1200px;
  height: 100%;
}
.address {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(216, 236, 212);
  background: linear-gradient(0deg, rgb(246, 248, 248) 0%, rgb(221, 239, 215) 0%, rgba(248,248,249,1) 78%);
}
.sectionAbout {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.sectionAbout img{
  width: 300px;
  height: 200px;
}
.sectionAbout p{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
}

/*<---------------------------------------- table -------------------------------->*/

table {
  width: auto;
  height: auto;
  border-collapse: collapse;
  margin: 25px auto;

}

td {
  padding: 5px 10px 5px 5px;
  border: 1px solid black;
}

th {
  padding: 10px;
  border: 1px solid black;
}

caption {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}
/*<---------------------------------------- table -------------------------------->*/

.product_image {
  max-width: 500px;
  max-height: 500px;
  margin: 25px 75px;

}

.article_product {
margin-top: 25px;
margin-bottom: 25px;
}
footer p {
  margin: 25px;
}
/*-------------------------------filters -------------------------------------*/
.nav_filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
 }
.nav_filters a {
  width: 500px;
  height: 175px;

}
.nav_filters img {
  height: 75%;
  width: 75%;
}
.filter_flow {
  display: flex;
  justify-content: space-around;
}
/*------------------------------- screens ---------------------------------------*/
.flat_image {
  margin-left: 350px;
  margin-bottom: 25px;
  height: 50%;
  width: 50%;
 }
.nav_screens {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
  height: 100%;
}
.nav_screens a {
  height: 50%;
  width: 50%;
}
.nav_screens img {
  height: 100%;
  width: 100%;
}
/*-------------------------------reactor------------------------------------*/
.img_reactor {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
  height: 100%;
}
.text_reactor {
  margin-left:500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.img_reactor_last {
  margin-left:300px;
  margin-bottom: 50px;
}